@charset "UTF-8";

/* DEBUG용 공통 속성 */
* { padding:0.2rem; margin:0.2rem; }

/* 일반 공통 속성 */
a:hover, a:link, a:visited, a:active { color:none; text-decoration:none; }

/* 대골격 */

/* 전체 골격 */
BODY {
	display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 2rem auto 7rem auto;
	border:0.2rem solid red;
}
HEADER {
	position:relative; display:flex; flex-direction:column; justify-content:center; align-items:center;
	border:0.2rem solid green;
}
CONTENT, BODY > fieldset {
	border:0.2rem solid yellow;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}
FOOTER {
	padding:1rem 2rem;
	border:0.2rem solid gray;
}

/* HEADER */
HEADER #logoContainer {
	display:flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
}
HEADER #logoContainer span {
	font-size:2rem;
}
HEADER #logo {
	object-fit:cover;
	width:7rem;
	/*image-rendering: -webkit-optimize-contrast;*/
}
HEADER #searchContainer {
	width:20rem;
	border:0.2rem solid brown;
	text-align:center; vertical-align:middle;
}
HEADER #userContainer {
	position:absolute; top:0; right:0;
	border:0.2rem solid lime;
}