@charset "UTF-8";


/* 변수들 */
:root {
	--board-grid-columns: 6rem 10rem;
	
	--board-color-title-bg: var(--color10);
	--board-color-title-font: var(--color8);
	--board-color-body-bg: var(--color1);
	--board-color-body-font: var(--color8);
	--board-border-color: var(--color7);
	--board-topbot-border-width: 1px;
	--board-row-height: 1.8rem;
	--board-el-bgcolor-highlighted: #8882;
	
	--board-page-color: var(--color8);
}
 
/* 공통 속성들 */
* { box-sizing:content-box; }
.sub_title { margin:1rem auto 0.5rem auto; }
.boardContainer, .boardContainer > .boardBox.body {
	display:flex; flex-direction:column;
}
.boardContainer > .boardBox {
	display:flex; justify-content:center; align-items:center;
	flex-direction: column;
	width:100%;
}
.boardContainer > .boardBox > .row {
	display:grid; grid-template-columns:var(--board-grid-columns);
}
.boardContainer > .boardBox > .row, .boardContainer > .boardBox.page {
	min-height:var(--board-row-height);
}
.boardContainer > .boardBox.title .row {
	color: var(--board-color-title-font);
	background-color: var(--board-color-title-bg);
}
.boardContainer > .boardBox.body .row {
	color: var(--board-color-body-font);
	background-color: var(--board-color-body-bg);
}
.boardContainer > .boardBox > .row > th,
.boardContainer > .boardBox > .row > td {
	display:flex; justify-content:center; align-items:center;
	margin:0.15rem 0.07rem;
}
.boardContainer > .boardBox > .row > th {
    z-index:1; 
	background-color:var(--color7);
    color:#000b;
}
.boardContainer > .boardBox > .row > td {
    z-index: 0; position:relative;
    color:#000b;
    background-color: var(--color11);
}
.boardContainer > .boardBox > .row > td input {
	position:relative; width:100%; max-width:9rem;
	margin:0.1rem; border:0; padding:0 0.3rem; outline:none;
}

/* check 
.boardContainer > .boardBox > .row > td > input.checker + label:after {
	content:'';
	width:min-content;
	height:var(--board-row-height);
	line-height:var(--board-row-height);	
	position:absolute;
	top:0; right:0;
}*/ 

.boardContainer > .boardBox > .row > div.subject {
	justify-content:flex-start;
} 
.boardContainer > .boardBox.body .row,       .boardContainer > .boardBox.page .el { cursor:pointer; }
.boardContainer > .boardBox.body .row:hover, .boardContainer > .boardBox.page .el:hover {
	background-color:var(--board-el-bgcolor-highlighted);
}
	
/* 상/하단 테두리 두께 설정 */
.boardContainer > .boardBox.body .row:not(:last-child) {
	border-bottom-style:solid;
	border-bottom-color:var(--board-border-color);
	border-bottom-width:var(--board-topbot-border-width);
}
.boardContainer > .boardBox.title { /* 타이틀줄 상하단 외곽선 */
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:var(--board-border-color);
	border-bottom-color:var(--board-border-color);
	border-top-width:calc(var(--board-topbot-border-width) * 2);
	border-bottom-width:calc(var(--board-topbot-border-width) * 2);
}
.boardContainer > .boardBox.body .row:last-child { /* 타이틀줄 상하단 외곽선 */
	border-bottom-style:solid;
	border-bottom-color:var(--board-border-color);
	border-bottom-width:calc(var(--board-topbot-border-width) * 2);
}

/* 게시판 하단 버튼들 */
.boardContainer > tfoot.boardBox > tr {
	margin:1rem;
}
.boardContainer > tfoot.boardBox > tr > td {
	display:flex; flex-direction:column;
	justify-content:center; align-items:center;
}

.bottomLongBtn,
.boardContainer > tfoot.boardBox > tr > td > a,
.boardContainer > tfoot.boardBox > tr > td > button {
	min-width: 10rem;
	margin:0.3rem;
	padding:0.3rem 1rem;
	border:0;
	border-radius: 0.4rem;
	color:#000a;
	background:var(--color5);
    text-align: center;
	font-size:inherit;
	cursor:pointer;
}