<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>

<welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<session-config>
  <session-timeout>30000</session-timeout>
</session-config>

<error-page><error-code>200</error-code><location>/resource/template/error.jsp</location></error-page>
<error-page><error-code>302</error-code><location>/resource/template/error.jsp</location></error-page>
<error-page><error-code>401</error-code><location>/resource/template/error.jsp</location></error-page>
<error-page><error-code>403</error-code><location>/resource/template/error.jsp</location></error-page>
<error-page><error-code>404</error-code><location>/resource/template/error.jsp</location></error-page>
<error-page><error-code>405</error-code><location>/resource/template/error.jsp</location></error-page>
<error-page><error-code>500</error-code><location>/resource/template/error.jsp</location></error-page>

<!-- CORS 허용설정: 비동기 통신을 지정한 주소에서 보낼 수 있도록 처리하는 설정 -->
<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>http://localhost:8080/Hexagram_semi/users/join.jsp</param-value>
		</init-param>
</filter>
<filter-mapping>
	<filter-name>CorsFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
	
</web-app>