<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<session-config>
  <session-timeout>30</session-timeout>
</session-config>

<error-page><error-code>200</error-code><location>/template/error.jsp</location></error-page>
<error-page><error-code>302</error-code><location>/template/error.jsp</location></error-page>
<error-page><error-code>401</error-code><location>/template/error.jsp</location></error-page>
<error-page><error-code>403</error-code><location>/template/error.jsp</location></error-page>
<error-page><error-code>404</error-code><location>/template/error.jsp</location></error-page>
<error-page><error-code>405</error-code><location>/template/error.jsp</location></error-page>
<error-page><error-code>500</error-code><location>/template/error.jsp</location></error-page>

</web-app>